html {
  box-sizing: border-box;
}

a {
  display: block;
}
p {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* ::before,
* ::after {
  box-sizing: inherit;
}
/* Footer */
.footer {
  background-color: #191c26;
}

.footer-container {
  margin: 0;
  padding: 0;
  border: none;
}

/* left container */

.left-container {
  border: none;

  .footer-title {
    height: 49px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding: 84px 31px 44px;

    @media screen and (min-width: 768px) {
      display: block;
      padding: 100px 40px 44px;
    }
  }
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field input,
.form-field textarea {
  // width: 418px;
  background-color: #191c26;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin: 0px 31px 44px;
  text-align: left;
  justify-content: top;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

textarea {
  resize: none;
}

.form-field input:hover,
.form-field textarea:hover,
.form-field input:focus,
.form-field textarea:focus {
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
}

.send-button {
  display: block;
  margin: auto;
  width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #191c26;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #ff6c00;
    outline: none;
  }
}

.send-text {
  // width: 84px;
  height: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Right container */

.right-container {
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(25, 28, 38, 0.8),
      rgba(25, 28, 38, 0.8)
    ),
    url(../images/Bg.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right-container .footer-contacts {
  // width: 418px;
  // height: 49px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 84px 31px 40px;
}

.contacts-list .contacts-items {
  padding: 0px 31px 20px;
}

.contacts-items .contacts-link {
  display: inline-flex;
  text-decoration: none;
  color: #9da4bd;

  &:hover {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts-items .contacts-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.66;
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;
  color: #9da4bd;
  padding-left: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts-items .map-svg,
.mail-svg,
.phone-svg {
  color: #9da4bd;
  fill: #9da4bd;
  margin-right: 16px;

  &:hover {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.working-hours-container {
  display: flex;
  padding: 0px 270px 20px 31px;
}

.working-hours-title {
  display: flex;
  align-items: center;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;

  &::before {
    display: block;
    content: ' ';
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
    margin-right: 20px;
    margin-left: 31px;
  }
}

.working-hours-item {
  height: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
  padding: 0px 119px 84px 31px;
  margin-top: 0px;
}

/* Underground */

.copyright-container {
  background-color: #f7f7f7;
}

.copyright-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.copyright-list .copyright-item {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  padding-top: 40px;
}

.copyright-link-instagram {
  display: flex;
  align-items: center;
  text-decoration: none;

  color: #303030;
  &:hover {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::before {
    display: block;

    content: ' ';
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin-right: 40px;
  }
}

.copyright-link-youtube {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 40px;
  padding-right: 31px;
  color: #303030;
  &:hover {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    color: #ff6c00;
    outline: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.copyright-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
  padding: 79px 0px 44px 31px;
}

.copyright-links-list .copyright-link {
  text-decoration: none;
}
.footer {
  max-width: 1280px;
  background-color: #191c26;
}
