<div class="container-main" id="Our-prices">
  <section class="services-price">
    <p class="master">Проведи время в компании лучших мастеров</p>
    <h2 class="heading">Услуги и цены</h2>
    <div class="work-money">
      <ul class="our-services">
        <li class="services">
          Мужская стрижка<span class="price1">от 300 грн.</span>
        </li>
        <li class="services">
          Стрижка бороды<span class="price2">от 200 грн.</span>
        </li>
        <li class="services">
          Стрижка усов<span class="price3">от 200 грн.</span>
        </li>
        <li class="services">
          Бритье опасной бритвой<span class="price4">от 200 грн.</span>
        </li>
      </ul>
      <ul class="our-services2">
        <li class="services">
          Cтрижка у стажера<span class="price5">от 50 грн.</span>
        </li>
        <li class="services">
          Стрижка под насадку<span class="price6">от 200 грн.</span>
        </li>
        <li class="services">
          Детская стрижка (до 12 лет)<span class="price7">от 300 грн.</span>
        </li>
        <li class="services">
          Камуфлирование седины<span class="price8">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <div class="button">
      <a href="" class="price-button">онлайн-запись</a>
    </div>
  </section>
</div>
