<section class="services-price container">
  <p class="master">Проведи время в компании лучших мастеров</p>
  <h2>Услуги и цены</h2>
  <ul class="our-services">
    <li class="services">
      Мужская стрижка<span class="price">от 300 грн.</span>
    </li>
    <li class="services">
      Стрижка бороды<span class="price">от 200 грн.</span>
    </li>
    <li class="services">Стрижка усов<span class="price">от 200 грн.</span></li>
    <li class="services">
      Бритье опасной бритвой<span class="price">от 200 грн.</span>
    </li>
  </ul>
  <ul class="our-services2">
    <li class="services">
      Cтрижка у стажера<span class="price">от 50 грн.</span>
    </li>
    <li class="services">
      Стрижка под насадку<span class="price">от 200 грн.</span>
    </li>
    <li class="services">
      Детская стрижка (до 12 лет)<span class="price">от 300 грн.</span>
    </li>
    <li class="services">
      Камуфлирование седины<span class="price">от 200 грн.</span>
    </li>
  </ul>
  <button>
    <a href="">онлайн-запись</a>
  </button>
</section>
