<!-- <section class="portfolio">
  <div class="container-portfolio">
    <p class="portfolio-title">На латинском языке “барба” означает “борода”</p>
    <ul class="portfolio-list">
      <li class="item">
        <img
          class="img-portfolio"
          srcset="
            ./images/port1-mob-418-1x.jpg 418w,
            ./images/port1-mob-418-2x.jpg 836w,
            ./images/port1-tab-330-1x.jpg 330w,
            ./images/port1-tab-330-2x.jpg 660w,
            ./images/port1-270-1x.jpg     270w,
            ./images/port1-270-2x.jpg     540w
          "
          alt="portfolio1"
          src="./images/port1-mob-418-1x.jpg"
          sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px"
        />
      </li>
      <li class="item">
        <img
          class="img-portfolio"
          srcset="
            ./images/port2-mob-418-1x.jpg 418w,
            ./images/port2-mob-418-2x.jpg 836w,
            ./images/port2-tab-330-1x.jpg 330w,
            ./images/port2-tab-330-2x.jpg 660w,
            ./images/port2-270-1x.jpg     270w,
            ./images/port2-270-2x.jpg     540w
          "
          alt="portfolio2"
          src="./images/port2-mob-418-1x.jpg"
          sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px"
        />
      </li>
      <li class="item">
        <img
          class="img-portfolio"
          srcset="
            ./images/port3-mob-418-1x.jpg 418w,
            ./images/port3-mob-418-2x.jpg 836w,
            ./images/port3-tab-330-1x.jpg 330w,
            ./images/port3-tab-330-2x.jpg 660w,
            ./images/port3-270-1x.jpg     270w,
            ./images/port3-270-2x.jpg     540w
          "
          alt="portfolio3"
          src="./images/port3-mob-418-1x.jpg"
          sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px"
        />
      </li>
      <li class="item">
        <img
          class="img-portfolio"
          srcset="
            ./images/port4-mob-418-1x.jpg 418w,
            ./images/port4-mob-418-2x.jpg 836w,
            ./images/port4-tab-330-1x.jpg 330w,
            ./images/port4-tab-330-2x.jpg 660w,
            ./images/port4-270-1x.jpg     270w,
            ./images/port4-270-2x.jpg     540w
          "
          alt="portfolio4"
          src="./images/port4-mob-418-1x.jpg"
          sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px"
        />
      </li>
    </ul>
  </div>
</section> -->

<section class="container-main">
  <div class="portfolio">
    <p class="portfolio-title">На латинском языке “барба” означает “борода”</p>
    <ul class="portfolio-list">
      <li class="item">
        <img class="img-portfolio" srcset="
./images/port1-mob-418-1x.jpg 418w,
./images/port1-mob-418-2x.jpg 836w,
./images/port1-tab-330-1x.jpg 330w,
./images/port1-tab-330-2x.jpg 660w,
./images/port1-270-1x.jpg 270w,
./images/port1-270-2x.jpg 540w
" alt="portfolio1" src="./images/port1-mob-418-1x.jpg"
          sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px" />
      </li>
      <li class="item">
        <img class="img-portfolio" srcset="
./images/port2-mob-418-1x.jpg 418w,
./images/port2-mob-418-2x.jpg 836w,
./images/port2-tab-330-1x.jpg 330w,
./images/port2-tab-330-2x.jpg 660w,
./images/port2-270-1x.jpg 270w,
./images/port2-270-2x.jpg 540w
" alt="portfolio2" src="./images/port2-mob-418-1x.jpg"
          sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px" />
      </li>
      <li class="item">
        <img class="img-portfolio" srcset="
./images/port3-mob-418-1x.jpg 418w,
./images/port3-mob-418-2x.jpg 836w,
./images/port3-tab-330-1x.jpg 330w,
./images/port3-tab-330-2x.jpg 660w,
./images/port3-270-1x.jpg 270w,
./images/port3-270-2x.jpg 540w
" alt="portfolio3" src="./images/port3-mob-418-1x.jpg"
          sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px" />
      </li>
      <li class="item">
        <img class="img-portfolio" srcset="
./images/port4-mob-418-1x.jpg 418w,
./images/port4-mob-418-2x.jpg 836w,
./images/port4-tab-330-1x.jpg 330w,
./images/port4-tab-330-2x.jpg 660w,
./images/port4-270-1x.jpg 270w,
./images/port4-270-2x.jpg 540w
" alt="portfolio4" src="./images/port4-mob-418-1x.jpg"
          sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px" />
      </li>
    </ul>
  </div>
</section>